.post.music {
		background-color: #3399CC;
	}

.post.movies {
		background-color: #67B8DE;
	}

.post.books {
		background-color: #91C9E8;
	}

.post.exhibitions {
		background-color: #B4DCED;
	}

.post.trips {
		background-color: #E8F8FF;
	}

.filter-item, .sorting-item,  .links-sidebar, .comment-button {
    background-color: gray;
}
