.post.music {
		background-color: #3399CC;
	}

.post.movies {
		background-color: #67B8DE;
	}

.post.books {
		background-color: #91C9E8;
	}

.post.exhibitions {
		background-color: #B4DCED;
	}

.post.trips {
		background-color: #E8F8FF;
	}

.filter-item, .sorting-item,  .links-sidebar, .comment-button {
    background-color: gray;
}

.filter-item.active, .filter-item:hover {
    background-color: #B4DCED;
}

.filter-item.active a {
    color: white;
}

.sorting-item:hover, .sorting-item.active {
    background-color: #3399CC;
}

.websocket-msg {
    background-color: #3399CC;
}

.fetch-posts {
    color: #E8F8FF;
}

.actions div, .post-by {
    background: -moz-linear-gradient(top,  rgba(51,153,204,1) 0%, rgba(51,153,204,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,153,204,1)), color-stop(100%,rgba(51,153,204,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(51,153,204,1) 0%,rgba(51,153,204,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(51,153,204,1) 0%,rgba(51,153,204,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(51,153,204,1) 0%,rgba(51,153,204,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(51,153,204,1) 0%,rgba(51,153,204,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.actions div:hover {
    background-color: #B4DCED;
}

.not-logged-in .actions div:hover {
    background-color: transparent;
    cursor: default;
}

.login-msg span {
    background-color: #3399CC;
}
