.post.music {
		background-color: #e7ecf0;
	}

.post.movies {
		background-color: #e0dcdb;
	}

.post.books {
		background-color: #f4cabc;
	}

.post.exhibitions {
		background-color: #ffa082;
	}

.post.trips {
		background-color: #fc7967;
	}

.filter-item, .sorting-item, .links-sidebar, .comment-button, .filter-toggle {
    background-color: black;
}

.filter-item.active, .filter-item:hover, .filter-toggle:hover {
    background-color: #fc7967;
}

.filter-item.active a {
    color: black;
}

.sorting-item:hover, .sorting-item.active {
    background-color: #fc7967;
}

.filter-item.active a {
    color: white;
}

.filter-item:hover, .filter-item.active {
    background-color: #f4cabc;
}
.websocket-msg {
    background-color: #fc7967;
}

.fetch-posts {
    color: #e7ecf0;
}

.actions div, .post-by {
    background: -moz-linear-gradient(top,  rgba(252,121,103,1) 0%, rgba(252,121,103,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,121,103,1)), color-stop(100%,rgba(252,121,103,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,121,103,1) 0%,rgba(252,121,103,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,121,103,1) 0%,rgba(252,121,103,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,121,103,1) 0%,rgba(252,121,103,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,121,103,1) 0%,rgba(252,121,103,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.actions div:hover {
    background-color: rgba(1,1,1,.5);
}

.not-logged-in .actions div:hover {
    background-color: transparent;
    cursor: default;
}

.login-msg span, .welcome-msg, .goodbye-msg, .taken-msg {
    background-color: #fc7967;
}
