.post.music {
		background-color: #e7ecf0;
	}

.post.movies {
		background-color: #e0dcdb;
	}

.post.books {
		background-color: #f4cabc;
	}

.post.exhibitions {
		background-color: #ffa082;
	}

.post.trips {
		background-color: #fc7967;
	}

.filter-item, .links-sidebar, .comment-button {
    background-color: black;
}
