.post.music {
		background-color: #E74C3C;
	}

.post.movies {
		background-color: #ECF0F1;
	}

.post.books {
		background-color: #3498DB;
	}

.post.exhibitions {
		background-color: #BC8F64;
	}

.post.trips {
		background-color: #2980B9;
	}

.filter-item, .sorting-item, .links-sidebar, .comment-button {
	background-color: #E74C3C;
}

.filter-item.active, .filter-item:hover {
    background-color: #ecf0f1;
}

.filter-item.active a, .filter-item:hover a {
    color: black;
}

.sorting-item:hover, .sorting-item.active {
    background-color: #2980B9;
}

.websocket-msg {
    background-color: #E74C3C;
}
.fetch-posts {
    color: white;
}

.actions div, .post-by {
    background: -moz-linear-gradient(top,  rgba(41,128,185,1) 0%, rgba(41,128,185,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,128,185,1)), color-stop(100%,rgba(41,128,185,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(41,128,185,1) 0%,rgba(41,128,185,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(41,128,185,1) 0%,rgba(41,128,185,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(41,128,185,1) 0%,rgba(41,128,185,0.8) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(41,128,185,1) 0%,rgba(41,128,185,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.actions div:hover {
    background-color: rgba(1,1,1,1);
}

.not-logged-in .actions div:hover {
    background-color: transparent;
    cursor: default;
}
