.post.music {
		background-color: #E74C3C;
	}

.post.movies {
		background-color: #ECF0F1;
	}

.post.books {
		background-color: #3498DB;
	}

.post.exhibitions {
		background-color: #BC8F64;
	}

.post.trips {
		background-color: #2980B9;
	}

.filter-item, .sorting-item, .links-sidebar, .comment-button {
	background-color: #E74C3C;
}

.filter-item.active, .filter-item:hover {
    background-color: #ecf0f1;
}

.filter-item.active a, .filter-item:hover a {
    color: black;
}

.sorting-item:hover, .sorting-item.active {
    background-color: #2980B9;
}
