<html>
<head>
    <title>Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body cz-shortcut-listen="true"><h1>Express</h1>

<p>Welcome to our test</p><!-- Wrapper-->
<div id="wrapper"><!-- USER INFO-->
    <div id="userInfo"><h2>User Info</h2>

        <p><strong>Name:</strong><span id="userInfoName"></span><br><strong>Age:</strong><span
                id="userInfoAge"></span><br><strong>Gender:</strong><span id="userInfoGender"></span><br><strong>Location:</strong><span
                id="userInfoLocation"></span></p></div>
    <!-- /USER INFO--><!-- USER LIST--><h2>User List</h2>

    <div id="userList">
        <table>
            <thead>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Delete?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="#" class="linkshowuser" rel="test1" title="Show Details">test1</a></td>
                <td>test1@test.com</td>
                <td><a href="#" class="linkdeleteuser" rel="5401cfcc10b5cc86a2968f84">delete</a></td>
            </tr>
            <tr>
                <td><a href="#" class="linkshowuser" rel="RustyRomeo" title="Show Details">RustyRomeo</a></td>
                <td>rusty@mish.me</td>
                <td><a href="#" class="linkdeleteuser" rel="5401db90a6372a12d46ae6f7">delete</a></td>
            </tr>
            <tr>
                <td><a href="#" class="linkshowuser" rel="Michael" title="Show Details">Michael</a></td>
                <td>rusty@mish.me</td>
                <td><a href="#" class="linkdeleteuser" rel="5401dbfda6372a12d46ae6f9">delete</a></td>
            </tr>
            <tr>
                <td><a href="#" class="linkshowuser" rel="Mishli" title="Show Details">Mishli</a></td>
                <td>m@res.ch</td>
                <td><a href="#" class="linkdeleteuser" rel="5401dc0ea6372a12d46ae6fa">delete</a></td>
            </tr>
            <tr>
                <td><a href="#" class="linkshowuser" rel="Birte" title="Show Details">Birte</a></td>
                <td>birte.rinas@gmail.com</td>
                <td><a href="#" class="linkdeleteuser" rel="5401e044b22bf52bd959521b">delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- /USER LIST-->
    <!-- ADD USER-->
    <h2>Add User</h2>

    <div id="addUser">
        <fieldset><input id="inputUserName" type="text" placeholder="Username"><input id="inputUserEmail" type="text"
                                                                                      placeholder="Email"><br><input
                id="inputUserFullname" type="text" placeholder="Full Name"><input id="inputUserAge" type="text"
                                                                                  placeholder="Age"><br><input
                id="inputUserLocation" type="text" placeholder="Location"><input id="inputUserGender" type="text"
                                                                                 placeholder="gender"><br>
            <button id="btnAddUser">Add User</button>
        </fieldset>
    </div>
    <!-- /ADD USER--></div>
<!-- /WRAPPER-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/javascripts/global.js"></script>
</body>
</html>