<!doctype html>
<html class="no-js" ng-app="postStore">

	<head>
		<meta charset="utf-8">
		<title>CAS FEE_CloneIT</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="styles/main.css" type="text/css">
		<link rel="stylesheet" href="styles/salmon-theme.css" type="text/css">
		<link rel="alternate stylesheet" href="styles/usa-theme.css" type="text/css" title="usa">
		<link rel="alternate stylesheet" href="styles/marine-theme.css" type="text/css" title="marine">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
	</head>

	<body ng-controller="PostController as store">

		<!-- Header -->
		<header ng-controller="UserController as userCtrl">

			<!-- Header Logged In-->
			<div class="header_logged-in hidden" ng-controller="ActionsController as actionsCtrl">
				<div class="welcome-msg">Welcome, {{ user.firstname }}.</div>
				<div class="row top-nav">
					<div class="small-4 columns">
						<img class="logo" src="images/cloneit-logo.png" alt="Logo CloneIT"/>
					</div>
					<div class="small-8 columns small-nav">
						<ul>
							<li ng-click="toggleNavigation()"><a href="#"><img id="profile-pic" ng-src="{{ user.image }}" alt="Profile Pic"/></a></li>
						</ul>
						<a href="#" class="show-new-link" ng-click="toggleNavigation()">Add new link</a>
					</div>
				</div>
				<div class="row big-nav">
					<div class="small-12 medium-6 medium-push-6 columns header-links">
						<ul>
							<li><a>{{ user.firstname }} {{ user.lastname }}</a></li>
							<li><a href="#">My Links</a><a href="" class="salmon"><span class="salmon1 theme-color"></span><span class="salmon2 theme-color"></span><span class="salmon3 theme-color"></span><span class="salmon4 theme-color"></span><span class="salmon5 theme-color"></span></a></li>
							<li><a href="#">My Saves</a><a href="" class="usa"><span class="usa1 theme-color"></span><span class="usa2 theme-color"></span><span class="usa3 theme-color"></span><span class="usa4 theme-color"></span><span class="usa5 theme-color"></span></a></li>
							<li><a href="#">My Ratings</a><a href="" class="marine"><span class="marine1 theme-color"></span><span class="marine2 theme-color"></span><span class="marine3 theme-color"></span><span class="marine4 theme-color"></span><span class="marine5 theme-color"></span></a></li>
							<li class="logout-btn" ng-click="logout()"><a href="#">Logout</a></li>
						</ul>
					</div>

	                <!-- Add new post form -->
					<div class="small-12 medium-6 medium-pull-6 columns" ng-controller="NewPostController as newPostCtrl">
	                    <form ng-submit="newPostForm.$valid && newPostCtrl.addPost()" name="newPostForm" novalidate>
	                            <!--{{ newPostCtrl.title }}-->
	                            <!--{{ newPostCtrl.url }}-->
		                        <!--{{ newPostCtrl }}-->
	                        <input class="text-input" placeholder="Please enter a text" type="text" ng-model="newPostCtrl.title" required/>

	                        <!--TODO add type of newPostCtrl.url to url-->
		                    <input class="link-input" placeholder="Please enter a link" type="text" ng-model="newPostCtrl.url" required/>
		                    <select ng-model="newPostCtrl.tag" ng-options="tag.tag for tag in tags" class="tag-input" required><option value="">Please tag your post</option></select><br>
	                        <input type="submit"  class="links-sidebar new-link" value="Add New Link"/>
	                    </form>
	                </div>
				</div>
			</div>

			<!-- Header Logged Out -->
			<div class="header_logged-out">
				<div class="goodbye-msg hidden">See you later, alligator.</div>
				<div class="row top-nav" ng-controller="ActionsController as actionsCtrl">
					<div class="small-4 columns">
						<img class="logo" src="images/cloneit-logo.png" alt="Logo CloneIT" ng-click="toggleNavigation()"/>
					</div>
					<div class="small-8 columns small-nav">
						<a href="#" class="show-nav" ng-click="toggleLogin()">Log in here, Stranger.</a>
					</div>
				</div>
				<div class="row big-nav">
					<div class="small-12 medium-6 medium-push-6 columns header-links">
						<ul>
							<li>Choose your colors</li>
							<li><a href="#">Salmon</a><a href="" class="salmon"><span class="salmon1 theme-color"></span><span class="salmon2 theme-color"></span><span class="salmon3 theme-color"></span><span class="salmon4 theme-color"></span><span class="salmon5 theme-color"></span></a></li>
							<li><a href="#">USA</a><a href="" class="usa"><span class="usa1 theme-color"></span><span class="usa2 theme-color"></span><span class="usa3 theme-color"></span><span class="usa4 theme-color"></span><span class="usa5 theme-color"></span></a></li>
							<li><a href="#">Marine</a><a href="" class="marine"><span class="marine1 theme-color"></span><span class="marine2 theme-color"></span><span class="marine3 theme-color"></span><span class="marine4 theme-color"></span><span class="marine5 theme-color"></span></a></li>						</ul>
					</div>

					<!-- Login -->
					<div class="small-12 medium-6 medium-pull-6 columns">
	                    <form ng-submit="loginForm.$valid && userCtrl.checkLogin()" name="loginForm" novalidate>
	                        <input class="login-input" placeholder="Username" type="text" ng-model="user.login" required/>
		                    <input class="password-input" type="password" placeholder="Password" ng-model="user.password" required/>
		                    <br/>
		                    <input id="remember-checkbox" type="checkbox" ng-model="user.remember" ng-init="user.remember=true"/>
		                    <label for="remember-checkbox">Remember me</label>
	                        <input type="submit"  class="links-sidebar login-btn" value="Login"/>
	                    </form>
						<a class="signup-link" href="#" ng-controller="ActionsController as actionsCtrl" ng-click="showSignup()">or sign up for the awesomeness</a>
	                </div>
				</div>
			</div>

			<!-- Header Sign Up -->
			<div class="header_sign-up hidden">
				<div class="goodbye-msg hidden">See you later, alligator.</div>
				<div class="taken-msg hidden">Sorry {{ newUser.firstname }}, the chosen username was already taken. Try another one.</div>
				<div class="row top-nav" ng-controller="ActionsController as actionsCtrl">
					<div class="small-4 columns">
						<img class="logo" src="images/cloneit-logo.png" alt="Logo CloneIT"/>
					</div>
					<div class="small-8 columns small-nav">
						<a href="#" class="show-nav" ng-click="toggleLogin()"></a>
					</div>
				</div>
				<div class="row big-nav">
							<p class="signup-title">Get up, stand up, sign up for your rights</p>
					<form ng-submit="signupForm.$valid && userCtrl.signup()" name="signupForm" novalidate>
						<div class="small-12 medium-4 columns">
			                    <input class="username-input" placeholder="Choose a username" type="text" ng-model="newUser.username" required/>
			                    <input class="email-input" placeholder="Email" type="text" ng-model="newUser.email" required/>
						</div>

						<div class="small-12 medium-4 columns">
								<input class="firstname-input" placeholder="Firstname" type="text" ng-model="newUser.firstname" required/>
			                    <input class="lastname-input" placeholder="Lastname" type="text" ng-model="newUser.lastname" required/>
						</div>

						<div class="small-12 medium-4 columns">
		                        <input class="password-input" placeholder="Enter your password" type="password" ng-model="newUser.password" required/>
			                    <input class="password-again-input" placeholder="Retype your password" type="password" ng-model="newUser.password2" required/>
			                    <br/>
								<a ng-controller="ActionsController as actionsCtrl" href="#" class="close-signup" ng-click="closeSignup()">Cancel</a>
		                        <input type="submit"  class="links-sidebar signup-btn" value="Sign up"/>
		                </div>
					</form>
				</div>
			</div>
		</header>

        <!-- Filters -->
		<div id="filters">
				<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-8">
					<li class="filter-item"><a href="#" ng-click="store.order('upvotes', $event)">TRENDING</a></li>
					<li class="filter-item"><a href="#" ng-click="store.order('date', $event)">NEWEST</a></li>
					<li class="filter-item"><a href="#" ng-click="store.filter('', $event)">All</a></li>
					<li class="filter-item"><a href="#" ng-click="store.filter('fun', $event)">Fun</a></li>
					<li class="filter-item"><a href="#" ng-click="store.filter('scary', $event)">Scary</a></li>
					<li class="filter-item"><a href="#" ng-click="store.filter('movies', $event)">Movies</a></li>
					<li class="filter-item"><a href="#" ng-click="store.filter('games', $event)">Games</a></li>
					<li class="filter-item"><a href="#" ng-click="store.filter('nature', $event)">Nature</a></li>
				</ul>
		</div>

        <div class="content" id="fullwidth" ng-controller="ActionsController as actionsCtrl">
            <div id="container">

                <!-- Span element is used that masonry layout doesn't break when first item is deleted -->
                <span class="masonry-width"></span>

                <!-- Posts -->
                <div class="">
                    <div id="template-post" class="item post {{ post.tag | lowercase}}" ng-repeat="post in store.posts">
                        <a class="post-pic" href="#"><img ng-src= "{{ post.imgurl }}"  alt="husky"/>

                            <p class="post-title">{{ post.title }}</p>
                        </a>
                        <hr/>

                        <!-- Actions -->
                        <ul>
                            <li>
                                <a data-function="upvote" class="icon-arrow-up" ng-click="voteUp(post._id)"></a>
                                <span class="vote-number">
                                    {{ post.upvotes }}
                                </span>
                            </li>
                            <li>
                                <a data-function="downvote" class="icon-arrow-down" ng-click="voteDown(post._id)"></a>
                                <span class="vote-number">
                                    {{ post.downvotes }}
                                </span>
                            </li>
                            <li>
                                <a data-function="show-comments" class="icon-bubble" ng-click="showComments($event)"></a>
                            </li>
                            <li>
                                <a data-function="delete" class="icon-close" ng-click="erase(post._id, $index)"></a>
                            </li>
                        </ul>

                        <!-- Comments -->
                        <div class="row hidden comments-container">
                            <div class="small-12 columns comments" >
                                <div class="comments-text" ng-repeat="comment in post.comments">
	                                <hr />
                                    <p class="comment-title">{{ comment }}</p>
                                </div>
							</div>
                            <div class="row">
	                            <form name="newCommentForm" ng-submit="newCommentForm.$valid && postComment(post)">
	                                <div class="small-12 columns comment-box">
	                                    <input placeholder="Please enter a comment" type="text" ng-model="actionsCtrl.newComment" required />
	                                </div>
	                                <br/>
	                                <div class="small-12 columns link-box">
	                                    <input type="submit" value="Comment" class="comment-button" />
	                                </div>
		                        </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/isotope/dist/isotope.pkgd.min.js"></script>
		<script src="bower_components/imagesloaded/imagesloaded.js"></script>
		<script src="bower_components/foundation/js/foundation.js"></script>
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
		<script src="scripts/main.js"></script>
		<script src="scripts/style-switcher.js"></script>
        <script src="controller/controller.js"></script>
        <script src="services/ajax.js"></script>
        <script src="services/loginhandler.js"></script>

	</body>
</html>
