// Forms in Angular
input.ng-dirty.ng-invalid {
    border: 4px solid red;
}

input.ng-dirty.ng-valid {
    border: 4px solid green;
}

.is-upvoted {
    color: green;
}

.is-downvoted {
    color: red;
}

li.hidden {
    display: none;
}

.is-new li.hidden {
    display: inline-block;
}

.erasing.hidden {
    display: none;
}
.is-publisher .erasing.hidden {
    display: inline-block;
}
